* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    background-color: rgb(156, 156, 156);
    display: flex;
    z-index: 3;
}

.nav-menu {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.nav-link {
    margin-left: 10px;
}

.nav-item {
    padding: 10px 20px;
    background-color: rgb(95, 95, 95);
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

.lenyilo {
    position: relative;
}

.lenyilo:hover .lenyilo-elem {
    display: block;
}

.lenyilo-elem {
    display: none;
    background-color: rgb(228, 228, 228);
}
.lenyilo-elem a {
    color: #000;
    text-decoration: none;
}

.container {
    position: relative;
    top: 70px;
    height: calc(100vh - 50px);
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}

.foKep {
    position: absolute;
    width: 100%;
}
.foKep1 {
    display: block;
}
.foKep2 {
    display: none;
}
.foKep3 {
    display: none;
}

.kep1:hover .foKep1 {
    display: block;
}
.kep2:hover .foKep2 {
    display: block;
}
.kep3:hover .foKep3 {
    display: block;
}

.kepek {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.kep {
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 50%;
}

.kep-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 400px;
    padding: 20px 5px 5px 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 3px 5px rgba(0,0,0,.4);
    z-index: 10;
}

.kep-form span {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    width: 15px;
    color: #fff;
    background-color: rgb(158, 30, 30);
    cursor: pointer;
}

.close {
    display: none !important;
}